
*.log
*.pot
*.pyc
*/*/*/__pycache__/
*/*/__pycache__/
*/__pycache__/
chroma_langchain_db1/
chroma_langchain_db/
elon_local_fssai/
/venv
chroma_langchain_db3
chroma_langchain_db4
/media/*/*.*
/media/*/*/*.*
/media/*/*/*/*.*
__pycache__/
/static
.env
