langchain
ipykernel
python-dotenv
langchain_community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
langchain-chroma
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
streamlit
altair==4.2.0
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
cohere
pdf2image
google-search-results
transformers
unstructured
langchain_cohere
guardrails-ai